# Gitignore File for EEPython Files

# Ignore Jupyter Notebook Files
*.ipynb

# Ignore PDF Files
*.pdf

# Ignore Word Docs
*.doc
*.docx

# Ignore Subdirectories
*/

# Ignore Text Files
*.txt

# Ignore Image Files
*.png

# Ignore DB Files
*.db

# Ignore Excel/Tabular Files
*.csv
*.xlsx

# Ignore Tex Documents
*.aux
*.log
*.out
*.synctex.gz
*.tex